<div class="header fx">
  <div class="title">🌰🌰🌰🌰🌰🌰</div>
</div>

<div class="nav fx">
  <div class="nav__item">🐛🐛</div>
  <div class="nav__item">🐖🐖</div>
  <div class="nav__item">🐜🐜</div>
  <div class="nav__item">🐛🐛</div>
  <div class="nav__item">🐖🐖</div>
  <div class="nav__item">🐜🐜</div>
  <div class="nav__item">🐛🐛</div>
  <div class="nav__item">🐖🐖</div>
</div>

<div class="line"></div>

<div class="wrap fx--c">
  <div class="image"></div>
</div>

<div class="planet__menu fxc">
  <div class="planet fxc">
    <div class="title">🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡</div>
    <div class="description">
      🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞 🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞
      🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞 🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞
    </div>
    <div class="planet__source fx">
      <div class="">🌶🌶🌶</div>
      <div class="link">🌯🌯🌯</div>
      <div class="icon">🌭</div>
    </div>
  </div>

  <div class="menu fxc">
    <div class="menu__item">🐛🐛🐛🐛</div>
    <div class="menu__item">🐖🐖🐖🐖</div>
    <div class="menu__item">🐜🐜🐜🐜</div>
  </div>
</div>

<div class="infos fx">
  <div class="info fxc--c">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fxc--c">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fxc--c">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fxc--c">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
</div>
