<app-header class="header"></app-header>

<!-- <hr class="line--1" /> -->

<app-menu class="menu"></app-menu>

<!-- <hr class="line--2" /> -->

<div class="wrap fx fx--c">
  <div class="image"></div>
</div>

<div class="planet fxc">
  <div class="title">🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡</div>
  <div class="description">
    🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞 🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞
    🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞 🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞
  </div>
  <div class="planet__source fx">
    <div class="">🌶🌶🌶</div>
    <div class="link">🌯🌯🌯</div>
    <div class="icon">🌭</div>
  </div>
</div>

<div class="infos fxc">
  <div class="info fx">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fx">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fx">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
  <div class="info fx">
    <div class="info__attribute">🦁🦁🦁🦁</div>
    <div class="info__value">🐢🐢🐢🐢🐢🐢</div>
  </div>
</div>
